STICKER1 RCDATA "StickersExt\1.png"
STICKER2 RCDATA "StickersExt\2.png"
STICKER79 RCDATA "StickersExt\79.png"
STICKER80 RCDATA "StickersExt\80.png"
STICKER81 RCDATA "StickersExt\81.png"
STICKER87 RCDATA "StickersExt\87.png"
STICKER95 RCDATA "StickersExt\95.png"
STICKER97 RCDATA "StickersExt\97.png"
STICKER106 RCDATA "StickersExt\106.png"
STICKER107 RCDATA "StickersExt\107.png"
STICKER108 RCDATA "StickersExt\108.png"
STICKER109 RCDATA "StickersExt\109.png"
STICKER111 RCDATA "StickersExt\111.png"
STICKER112 RCDATA "StickersExt\112.png"
STICKER113 RCDATA "StickersExt\113.png"
STICKER118 RCDATA "StickersExt\118.png"
STICKER119 RCDATA "StickersExt\119.png"
STICKER121 RCDATA "StickersExt\121.png"
STICKER123 RCDATA "StickersExt\123.png"
STICKER124 RCDATA "StickersExt\124.png"
STICKER151 RCDATA "StickersExt\151.png"
STICKER157 RCDATA "StickersExt\157.png"
STICKER158 RCDATA "StickersExt\158.png"
STICKER180 RCDATA "StickersExt\180.png"
STICKER203 RCDATA "StickersExt\203.png"
STICKER205 RCDATA "StickersExt\205.png"
STICKER209 RCDATA "StickersExt\209.png"
STICKER211 RCDATA "StickersExt\211.png"
STICKER213 RCDATA "StickersExt\213.png"
STICKER217 RCDATA "StickersExt\217.png"
